<%- include("partials/header") -%>

<h1>About</h1>
<p><%= about %></p>

</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>
