<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%= contact %></p>
</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>