<%- include("partials/header") -%>

<h1>Your post has been deleted successfully!</h1>
<p><a href="/">Go back to Home Page</a> </p>

</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>
