<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container ">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<h1>Make Changes to your post</h1>

<form action="/post/<%= p%>/edit" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="title" class="form-control" name="postTitle" />
    <label>Post</label>
    <textarea
      name="postBody"
      class="form-control"
      rows="5"
      cols="30"
    ></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Save Changes</button>
</form>

</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>
