<%- include("partials/header2") -%>

 
    <h1><%= pTitle %></h1>
    <p><%= pBody %></p>


</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>